@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">SISTEMA AVALIATIVO DE EDUCAÇÃO DE MATO GROSSO  - SADEMT </h1>
    <h4>Atualizado</h4>
    <p>Developer <a href="#">Leandro Dias de Jesus</a>.</p>
</div>
